
body {
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; /*kanske?*/
    align-items: center;
    background-color: #000000;
    color: #FFFFFF;
    margin-left: 50px;
    margin-right: 50px;
}

.text-section-container { /* all text from top down */
    max-width: 416px;
    width: 100%;
    min-height: 711px; /*465px*/
    height: 100%; /*hade 100vh innan men får inte till att mina två items ligger bredvid varandra*/
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin: 50px;
}
.header-container {
    max-width: 416px;
    width: 100%;
    min-height: 36px;
    display: flex;
    justify-content: space-between;
    /* position: absolute;
    top: 10%; */
    margin: 4%;
}
.logo {
    max-width: 90px;
    width: 100%;
    min-height: 36px;
    font-size: 24px;
    line-height: 36px; 
    letter-spacing: -0.25px;
    font-family: "Actor", sans-serif;
    display: flex;
    align-items: center;
}
.nav {
    max-width: 242px; /*-25px jämfört med figma container*/
    width: 100%;
    min-height: 25px;
    display: flex;
    align-items: center; /* centrerar mitten*/
     /*rader? jag vill ha: row, flex-start (vä), centrerat mitten*/
}
.nav__list {
    max-width: 242px; /*-25px jämfört med figma container*/
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.nav__li {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
    line-height: 22,4px;
}
.nav__link {
    text-decoration: none;
    color: white;
}

.text-section-text {
    max-width: 416px;
    width: 100%;
    min-height: 273px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 6%;

    margin-top: 171px;
}
.text-section-text__h1 {
    font-size: 84px;
    line-height: 102px;
    letter-spacing: -2px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.text-section-text__p {
    font-size: 22px;
    line-height: 34px;
    font-family: "Source Sans 3", sans-serif;
}



.image-section {
    max-width: 585px;
    width: 100%;
    min-height: 690px;
    display: flex;
    margin: 2%;
}
img {
    max-width: 585px;
    width: 100%;
    min-height: 690px;
}


@media screen and (max-width: 1250px) {
    .text-section-container {    
        min-height: 365px;
        max-width: 768px;
    }
    .header-container {
        max-width: 768px;
    }
    .text-section-text {
        align-items: center;
        max-width: 574px;
        min-height: 172px;
        
        margin-top: 6%;
    }
    .text-section-text__h1 {
        font-size: 72px;
        line-height: 82.8px;
        letter-spacing: -1.6px;
    }
    .text-section-text__p {
        text-align: center;
    }
    .logo__text {
        font-family: "Baloo 2", sans-serif;
        font-weight: 700;
        font-size: 24px;
    }
    img {
        width: 70%;
        height: 70%;
        min-height: 70%;
    }
    .image-section {
        justify-content: center;
    }
}

@media screen and (max-width: 570px){
    .nav {
        visibility: hidden;
    }
    .header-container {
        margin-top: 10px;
    }
    .text-section-container {
        margin: 0;
        justify-content: space-between;
        min-height: 300px;
    }
    .text-section-text {
        max-width: 211px;
        /* min-height: 150px;
        height: 100%; */
    }
    .text-section-text__h1 {
        font-size: 36px;
    }
    .text-section-text__p {
        font-size: 12px;
        line-height: 18px;
    }
    .image-section {
        align-items: center;
        min-height: 200px;
    }
}